
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-image: url("img/derevo_doska_tekstura_159786_3840x2400.jpg");
    background-size: 100%;
    color: white;
}

h2{
  font-family: "Noto Sans";
  font-size: 50px;
}

.f_title{
    text-align: center;
    padding-top: 20px;
}

.f_title-cont{
    text-align: center;
    display: inline-block;
    width: 40%;
    padding: 5px 5px 5px 60px;
    box-sizing: border-box;
}

.f_title img{
    margin-left: -55px;
    margin-top: 20px;
    float: left;
    width: 100px;
}


.main-cont{
    text-align: center;
    margin-top: 60px;
}

.main-cont img{
    margin-top: 30px;
    width: 900px;
    border-radius: 15px;
    background-color: Snow;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cont-title{
    padding: 10px;
    font-size: 55px;
    font-family: "Noto Sans";
    font-weight: 600;
}

.text-title{
    padding: 10px;
    font-size: 35px;
    font-family: "Noto Sans";
    font-weight: 600;
    margin-top: 40px;
}

.text-info{
    padding: 10px;
    font-size: 20px;
    font-family: "Noto Sans";
    font-weight: 600;
    max-width: 900px;
    margin: auto;
    margin-bottom: 80px;
}